[Desktop Entry]
Encoding=UTF-8
Name=Google Mail
Comment=An E-Mail Notifier for Google Mail
Icon=applications-email-panel
Type=Application
Exec=gm-notify
StartupNotify=False
Terminal=false
